/* Wrapper */
.home-wrapper{
	background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.0) ), url('../img/background.jpg') no-repeat center top; 
	background-size: cover;
	color: white;
	background-attachment: fixed;
 }
 /* Wrapper */

 /* Navbar */
.logo a{
	margin-right: 30px;
	float: right;
	padding: 15px;
	text-decoration: none;
	color: black;
	background: white;
}

.logo img {
	width: 80px;
}
/* Navbar */
/* Home */
.presentation h1 {
	text-align: center;
	font-size: 50px;
}

.name h1{
	padding: 80px;
}

.presentation p{
	text-align: center;
	font-size: 30px;
	margin-bottom: 40px;
	margin-top: 40px;
}

.presentation .divider {
	width: 200px;
	border-top: 5px solid #fed136;
	margin: 0 auto;
	margin-bottom: 80px; 
}
.social {
	text-align: center;
	padding: 80px;
}

.presentation .social a {
	color: white;
	display: inline-block;
	border-radius: 50%;
	background-color: black;
	font-size: 24px;
	font-weight: bold;
	height: 50px;
	width: 50px;
	line-height: 50px;
	margin-right: 10px;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition: all .3s;
}

.presentation .social a:hover {
	background-color: #fed136;
}

/* Home */

/* Acerca de mi */

.titulo h2 {
	background: #348758;
	font-size: 20px;
	padding: 15px;
	color: white;
}

.parrafo p {
	margin-top: 20px;
	font-size: 15px;
}

.foto img {
	width: 100%;
}

/* Acerca de mi */

/* Portafolio */

.fotos h2 {
	background: #348758;
	font-size: 20px;
	padding: 15px;
	color: white;
}

.fotos h4 {
	font-weight: bold;
	font-size: 20px;
	margin-left: 30px;
	margin-top: 20px;
}

.fotos p {
	margin-bottom: 20px;
	margin-left: 30px;
	font-size: 15px;
}

.fotos2 h4 {
	font-weight: bold;
	font-size: 20px;
	margin-left: 30px;
}

.fotos2 p {
	margin-bottom: 20px;
	margin-left: 30px;
	font-size: 15px;
}
.fotos img {
	width: 320px;
	height: 340px;
	margin-left: 20px;
}
/* Portafolio */
/* Contacto */
.wrapper .container input {
	margin-left: 220px;
}

.contacto h2 {
	background: #348758;
	font-size: 20px;
	padding: 15px;
	color: white;
}

.contacto li {
	list-style: none;
}

.contacto .name {
	margin-top: 60px;
}
.contacto input {
	margin-left: 20px;
	margin-top: 20px;
	padding: 10px;
	border-radius: 10px;
}

.contacto .mensaje {
	padding: 60px;
	margin-bottom: 30px;
}

.contacto button {
	padding: 15px 80px;
	margin-left: 600px;
	margin-bottom: 50px;
	color: black;
}

.wrapper{
	background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.0) ), url('../img/background2.jpg') no-repeat center top; 
	background-size: cover;
	background-attachment: fixed;
 }
 /* Contacto */

 /* footer */
 	.footer li {
 		font-weight: bold;
 		list-style: none;
 		text-align: center;
 		font-size: 17px;
 		padding: 20px;
 	}
 /* footer */